<div class="cart" [angularSlideUp]="true">
    <section>
        <div class="top-box"></div>
        <img src="https://picsum.photos/142/142" alt="primathon" />
        <div class="bottom-box">
            <blockquote [attr.stagger]="true">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                </p>
            </blockquote>

            <div class="test-details" [attr.stagger]="true">
                <p><span>Lorem Singh</span><br />Delhi, India</p>
            </div>

            <div class="test-details" [attr.stagger]="true">
                <p>Lorem, ipsum dolor sit amet.</p>
            </div>

            <div class="test-details" [attr.stagger]="true">
                <p>Lorem ipsum, dolor smet sit.</p>
            </div>

            <div class="test-details" [attr.stagger]="true">
                <p>Lorem, ipsum dolor sit amet.</p>
            </div>
        </div>
    </section>
</div>
