<div style="max-width: 600px; margin: 40px auto" angularSlideUp>
  <h2>Where does it come from?</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nesciunt
    assumenda voluptatum rerum repudiandae alias quo deleniti quas voluptatibus
    impedit, quasi eaque itaque a, eius numquam iusto repellat nemo expedita!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut vel iure
    excepturi vitae odio ducimus tempora a earum dicta, reiciendis, error
    laboriosam non? Odit sed tempora quod magnam quam ducimus? Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Quia velit animi sed architecto vel.
    Iste ex quae mollitia voluptas, ullam quaerat! Voluptatibus dolorem harum et
    odio, vel dicta eius? Amet! Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Sequi illo temporibus nulla. Commodi hic, obcaecati nobis
    fugit vel totam. Adipisci est non sequi eos. Consequatur perspiciatis nulla
    quas aspernatur possimus!LoremLore Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Officiis nesciunt assumenda voluptatum rerum repudiandae
    alias quo deleniti quas voluptatibus impedit, quasi eaque itaque a, eius
    numquam iusto repellat nemo expedita! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ut vel iure excepturi vitae odio ducimus tempora a earum
    dicta, reiciendis, error laboriosam non? Odit sed tempora quod magnam quam
    ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia velit
    animi sed architecto vel. Iste ex quae mollitia voluptas, ullam quaerat!
    Voluptatibus dolorem harum et odio, vel dicta eius? Amet! Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Sequi illo temporibus nulla. Commodi
    hic, obcaecati nobis fugit vel totam. Adipisci est non sequi eos.
    Consequatur perspiciatis nulla quas aspernatur possimus!LoremLore
  </p>
</div>
