<main>
    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>

    <app-card angularSlideUp></app-card>
</main>
