<app-header data="Without Stagger"></app-header>

<main>
    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>

    <app-card></app-card>
</main>

<app-header data="With Stagger"></app-header>

<main>
    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>

    <app-new-cart></app-new-cart>
</main>
