<div id="test-list">
    <section>
        <div class="top-box"></div>
        <img
            src="https://picsum.photos/140/140"
            alt="Picture of Vivian Williams"
        />
        <div class="bottom-box">
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                </p>
            </blockquote>
            <div class="test-details">
                <p><span>Lorem Singh</span><br />Delhi, India</p>
            </div>
        </div>
    </section>
</div>
